
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Tabla con Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h3>Resultados: </h3>

        <table class="table">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">Id Consulta</th>
                    <th scope="col">IdProduct</th>
                    <th scope="col">IdCoProduct</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<div class="container">
    <div class="text-center">
        <a class="btn btn-primary" asp-area="" asp-controller="Principal" asp-action="BienvenidosArtificiales">VOLVER A HOME</a>
    </div>
</div>


</html>