@model TpCursada.Dominio.Historical 

@{
    Layout = "_Layout";
}

<form action="/ProductRecommender/Recommend" method="post">
    <div>
        <label for="productID">productID:</label>
        <input asp-for="@Model.IdProducto" class="form-control" id="" placeholder="">
        @{
            Model.IdCoproducto = ViewBag.idCoProduct;
            Model.Puntaje = (int)ViewBag.percentajeView;
        }
    </div>    
    <div>
        <button type="submit">Recomendame</button>
    </div>
</form>

<div>
    <h1>@ViewBag.percentajeView</h1>
</div>

